body{
    background-color: darkgrey;
    padding: 0;
    margin: 0;
}

#main{
    margin: auto;
    position: relative;
    text-align: center;
}

#logo{
    float: top;
    margin: auto;

    width: 446px;
    height: 180px;
}

#expText{
    float: top;
    margin: auto;
}

#imgLinkHolder{
    width: 1800px;
    height: 340px;
    position: absolute;
    top: 380px;
   left: 20px;

}




.left{
  float:left;
}

#foot{
	position: absolute;
	bottom: 0;
	width: 1280px;
	height: 200px;
}

#bg{
    width: 100%;
    height: 100%;
}
#711:hover ~ #bg{
    background-image: url("711.png");
}
